:root {
    --primary-color: #F4F0E5;
    --secondary-color: #242D4C;
    --mainfont: 'Space Grotesk', sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--mainfont);
    background-color: #f4f4f4;
    color: #333;
}

/* Header and Navigation */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 0.8rem;
    font-family: var(--mainfont);
    font-weight: 400;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
li, a, button {
    text-decoration: none;
    font-size: 1.1rem;
}
.navlinks {
    list-style: none;
    padding: 0;
}
.navlinks li {
    display: inline;
    position: relative;
    margin-right: 15px;
}
.navlinks li:not(:last-child)::after {
    content: "/";
    position: absolute;
    right: -10px;

}
.navlinks li a {
    transition: all 0.35s ease 0s;
    color: var(--primary-color);
}

/* Main Content */
main {
    padding: 1rem 2rem;
    font-family: var(--mainfont);
}

.hero {
  height: 10rem;
}
#occupation {
    text-align: center;
    font-size: 2.5rem;
    color: var(--secondary-color);
}
#caption {
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
}

/* Container Media Queries */
.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
  header {
    flex-direction: column;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
  
}


/* Header and Navigation */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 0.8rem;
    font-family: var(--mainfont);
    font-weight: 400;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
li, a, button {
    text-decoration: none;
    font-size: 1.1rem;
}
.navlinks {
    list-style: none;
    padding: 0;
}
.navlinks li {
    display: inline;
    position: relative;
    margin-right: 15px;
}
.navlinks li:not(:last-child)::after {
    content: "/";
    position: absolute;
    right: -10px;

}
.navlinks li a {
    transition: all 0.35s ease 0s;
    color: var(--primary-color);
}
